<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <form class="form" [formGroup]="formLogin" (submit)="onLoginUser()">
              <div class="card-body login-img">
                <div class="row m-0">
                  <div
                    class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle"
                  >
                    <img
                      src="../../assets/img/gallery/login.png"
                      alt=""
                      class="img-fluid mt-5"
                      width="400"
                      height="230"
                    />
                  </div>
                  <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                    <h4 class="card-title mb-2 mt-3">Пријава</h4>
                    <p class="card-text login-description-mb">
                      Добродошли, унесите своје приступне податке
                    </p>
                    <input
                      type="text"
                      class="form-control mb-3"
                      formControlName="userName"
                      placeholder="Идентификатор"
                    />
                    <input
                      type="password"
                      class="form-control password-mb"
                      formControlName="password"
                      placeholder="Лозинка"
                    />
                    <div class="d-flex justify-content-between mt-2">
                      <div class="remember-me">
                        <div
                          class="custom-control custom-checkbox custom-control-inline mb-3"
                        >
                          <input
                            type="checkbox"
                            id="customCheckboxInline1"
                            name="customCheckboxInline1"
                            class="custom-control-input"
                          />
                          <label
                            class="custom-control-label"
                            for="customCheckboxInline1"
                          >
                            Запамти ме
                          </label>
                        </div>
                      </div>
                      <div class="forgot-password-option">
                        <a
                          (click)="onForgotPassword()"
                          class="text-decoration-none text-primary"
                          >Заборављена лозинка ?</a
                        >
                      </div>
                    </div>
                    <div class="fg-actions d-flex justify-content-between">
                      <div class="login-btn">
                        <!-- <button class="btn btn-outline-primary">
                          <a
                            [routerLink]="['/pages/register']"
                            class="text-decoration-none"
                            >Register</a
                          >
                        </button> -->
                      </div>
                      <div class="recover-pass">
                        <button 
                          class="text-decoration-none text-white btn btn-primary"
                          type="submit">
                          Пријави се
                        </button>
                      </div>
                    </div>
                    <!-- <hr class="m-0" /> -->
                    <div class="d-flex justify-content-between mt-3">
                      <!-- <div class="option-login">
                        <h6 class="text-decoration-none text-primary">
                          Or Login With
                        </h6>
                      </div>
                      <div class="social-login-options">
                        <a class="btn btn-social-icon mr-2 btn-facebook">
                          <span class="fa fa-facebook"></span>
                        </a>
                        <a class="btn btn-social-icon mr-2 btn-twitter">
                          <span class="fa fa-twitter"></span>
                        </a>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
